
.cookies {
    display: flex;
    flex-direction: row;
}

.cookies .cookie {
    max-width: 20%;
    margin: 20px;
}


* {
    box-sizing: border-box;
    color: #333;
}

body {
    background-color: #81a69b;
    background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-background.png);
    margin: 2%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
