.TextInput
    outline: none
    border: 1px solid rgb(100, 100, 100)
    border-radius: 0.25rem
    background-color: white
    font: inherit
    display: block
    width: 100%
    box-sizing: border-box
    padding: 0.5rem

.TextInputInvalid
    border: 2px solid red !important
